<footer class="pie">
  <div class="a" align="left">
    <p align="center">Más información de la web</p>
    <label>Con nosotros puedes crear o preparar exámenes, para que tus estudiantes los resuelvan y obtengan su calificación
      automáticamente de manera instantánea.
      ¡Regístrate hoy!, Prueba nuestro software de herramienta de examen gratuito para que puedas ver si se adapta a tus necesidades.
    </label>
  </div>
  <div class="b">
    <p class="pp">Redes sociales </p>
    <img src="../../assets/img/icon/fb.ico" alt="" class="ba" width="40px" height="40px">
    <p class="pa">Síguenos en facebook</p>
    <img src="../../assets/img/icon/twitter.png" alt=""  class="bb" width="40px" height="40px">
    <p class="pb">Síguenos en Twitter</p>
    <img src="../../assets/img/icon/ws.png" alt="" class="bc" width="40px" height="40px">
    <p class="pc">contáctenos</p>
  </div>
  <div class="c">
    <p class="pp">información de contactos</p>
    <img src="../../assets/img/icon/home.png" alt="" class="ba" width="40px" height="40px">
    <p class="pa">Lima-Perú</p>
    <img src="../../assets/img/icon/phone.png" alt=""  class="bb" width="40px" height="40px">
    <p class="pb">+51 999999999</p>
    <img src="../../assets/img/icon/msj.png" alt="" class="bc" width="40px" height="40px">
    <p class="pc">examn@gmail.com</p>
  </div>
  <div class="d">
    <p> © 2020 todos los derechos reservados | creaexamen</p>
  </div>

</footer>
