.pie{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  background: #b92c2781;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1565C0, #b92c2785);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1565C0, #b92c2781);
  color: white;

}
.pie> .a{
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 15px;
  width: 100%;
  padding-left: 3%;

}
.pie> .a > p{
  font-size: 20px;
  font-weight: bold;
}
.pie> .b{
  display: grid;
  grid-template-columns: 1fr 1fr;/*cantidad de columnas y filas*/

  grid-column-start: 2;/*posicion en footer*/
  grid-column-end: 3;
  font-size: 15px;


}
.pie>.b>.pp{
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}
.pie>.b>img{
  margin-right: 3%;
  justify-self: end;
}
.pie > .b>p{
  /*border: 1px solid black; para dar borde*/
  justify-self: start;
}

.pie> .c{
  display: grid;
  grid-template-columns: 1fr 1fr;/*cantidad de columnas y filas*/
  grid-column-start: 3;
  grid-column-end: 4;
  font-size: 15px;
  width: 100%;

}
.pie>.c>.pp{
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}
.pie>.c>img{
  margin-right: 5%;
  justify-self: end;
}
.pie > .c>p{
  /*border: 1px solid black; para dar borde*/
  justify-self: start;
}

.pie> .d{
  justify-self: center;
  border-top: 1px solid white;
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 15px;
  width: 95%;


}
.pie>.d>p{

  padding-top: 8px;
  padding-left: 2%;
  float: left;
  /*justify-self: center;*/
}

.pie>.a>label{
  font-size: 12px;
}
