<main>
    <section class="principal">

        <p class="titulo" data-aos="fade-up-right">La ayuda comienza aquí</p>
        <p data-aos="fade-up-right">¿Tienes preguntas? Tenemos respuestas. ¡Encuentra lo que necesitas rápidamente!</p>

    </section>
    <section class="contenido" data-aos="fade-left">
        <section class="ayuda">

            <div data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
                <p class="titulop">Recursos de soporte técnico</p>
                <p> Aquí encontrarás nuestras opciones de auto ayuda:</p>
            </div>
            <div data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
                <p class="titulo">Centro de Ayuda</p>
                <p>Lee las instrucciones paso a paso acerca de cómo usar nuestro producto. Viene
                    sección de Preguntas Frecuentes.</p>
                <a href="#">Visita nuestro Centro de Ayuda</a>

            </div>
            <div data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
                <p class="titulo">Tutoriales</p>
                <p>Aprende cómo usar nuestro producto para varios casos de uso con nuestros video del demo. Te guiaremos todo el tiempo.</p>
                <a  href="#">Visita nuestro canal de YouTube</a>
            </div>
            <div data-aos="fade-right"
            data-aos-offset="300"
            data-aos-easing="ease-in-sine">
                <p class="titulo">Tipo de Evaluaciones</p>
                <p>guiate de nuestra diversidad de tipos de evaluaciones
                </p>
            </div>
        </section>

        <section class="contactar" data-aos="fade-left"
        data-aos-offset="300"
        data-aos-easing="ease-in-sine">
            <p>Contáctenos</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor nostrum ipsa, tenetur, magnam voluptatem iste, incidunt ut amet ea sit placeat fuga at aut. Debitis illum est aliquam ducimus eveniet?</p>
        </section>
    </section>


</main>
<app-footer></app-footer>
