*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
main>.contenido{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
main>.contenido>.ayuda{
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
}
main>.contenido>.contactar{
    justify-self: center;
    width: 400px;
    grid-column-start: 2;
    grid-column-end: 3;

}

main>section>.titulo{
    font-size: 60px;
    padding-left: 5%;
    font-weight: bold;/*grosor de letra*/
    padding-top: 100px;
    color: white;


}
main>.principal{

    overflow: hidden;
    height: 520px;
    background-image: url(../../assets/img/pencil.jpg);
}
main>section>p{
    vertical-align: middle;
    color: white;
    padding-left: 5%;
    font-size: 30px;
}

main>.contenido>.ayuda{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 4fr;

}
main>.contenido>.ayuda>div{
    /*border:1px solid blue;*/
        width: 400px;
        height: 200px;
        margin-top:7px ;
        margin-bottom: 7px;

}

.contenido{
    margin-top:20px;
}
.titulop{
    color: #b92c2781;
    font-weight: bold;
    font-size: 25px;
}
.titulo{
    color:#1565C0;
    font-weight: bold;
    font-size: 20px;
}

.foot{

}
