.revision{
  padding-top: 15vh;
  padding-left: 10vw ;
}

table{
  background-color: aliceblue;
  text-align: center;
  width:30vw;
  padding:0;
}
.fila1{
  background-color:#1b87e6;
  border-bottom: solid 5px black;
  color: white;
}

th, td {
  border: solid 1px black;
}
tr:nth-child(even){
  background-color: white;
}

.foot{
  bottom: 0;
  position: fixed;
  height: 10vw;
}

.verde{
  color: green;
}

.colocarPuntaje{
  margin-top: 1vw;
  margin-left: 5vw;
}
