<section class="revision">
  <h2> Respuestas del alumno {{nombreAlum}} {{apellidopat_Alum}} {{apellidomat_Alum}}</h2>
  <h2> Para el examen: {{codigoexamen}}</h2>
  <table>
      <tr class="fila1">
        <th > N° Pregunta </th>
        <th > Respuesta </th>
      </tr >
      <tr *ngFor="let respuestas of Respuestas" >
        <td> {{respuestas.n_preg}} </td>
        <td> {{respuestas.resp}} </td>
      </tr>
  </table>
</section>
<div class="colocarPuntaje">
  <label> Inserte puntaje :</label>
  <input type="number" name="puntaje" [(ngModel)]="puntaje">
  <button (click)="insertarPuntaje()"> Confirmar </button>
  <p class="verde"> {{mensaje}} </p>
</div>
<footer>
  <app-footer class="foot"></app-footer>
</footer>
