<section class="resolverexamen">
  <h1>Resolver Examen</h1>
  <h1>Codigo de examen: {{codigo}}</h1>
  <h2>Codigo de alumno: {{alumno_User}}</h2>
  <button (click)="mostrarExamen()">Mostrar</button>
  <section *ngIf="Mostrarexamen" class="column2">
    <h1>{{titulo}}</h1>
    <div class="pregunta" *ngFor="let tipos of textopregunta">
      <label>{{tipos.texto}}</label><br>
      <i *ngIf="tipos.p1!=null">{{tipos.p1}}</i><br>
      <i *ngIf="tipos.p2!=null">{{tipos.p2}}</i><br>
      <i *ngIf="tipos.p3!=null">{{tipos.p3}}</i><br>
      <i *ngIf="tipos.p4!=null">{{tipos.p4}}</i><br>
      <i *ngIf="tipos.p5!=null">{{tipos.p5}}</i><br>
    </div>
  </section>
  <button (click)="empezar()">Empezar</button>

<section *ngIf="mostrar2" class="responder">
  <h3>Pregunta {{textorespuesta.length}}</h3>
    <input maxlength="1" type="text" [(ngModel)]="resp">
    <button (click)="guardarExamen()"> Aceptar </button>
  {{mensaje2}}
</section>
<button *ngIf="mostrar3" (click)="guardarExamen2()">Guardar Examen</button>
</section>
