.resolverexamen{
  width: 80vw;
  padding-top: 12vh;
  padding-left: 5vw;
}
.column2{
  display: grid;
  grid-template-columns: 1fr;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  overflow:scroll;

  height: 400px;
  border: solid 1px white;
  background: white;
  float: left;
  width: 40vw;

}
.column2>h2{
  justify-self: center;
  font-weight: bold;
  color:#4b79a1;
}
.column2>h1{
  justify-self: center;
}
.column2>label{
  margin-left: 2%;
}
.column2>div{
  display: grid;
  grid-template-columns: 1fr 20fr;
}

.column2>div>i{
  justify-self: start;
  align-self: initial;
  padding-left: 1%;
}
.column2>div>label{
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: start;
  align-self: initial;
  padding-left: 1%;
}

.responder{
  width: 20vw;
  height: 10px;
  float: right;
}

.pregunta{
  padding-top: 10px;
}
