<section class="editorex">
  <main>
    <section class="editorExamen">
      <label>Editor de examen</label>
    </section>
    <section class="column1">
      <h2>Nombre de usuario de Docente:</h2>
      <input maxlength="10" type="text" name="usernameD" placeholder="Ingrese nombre de usuario" [(ngModel)]="usernameD" [disabled]=true >
      <h2>Codigo de examen :</h2>
      <input maxlength="4" type="text" name="Codigoexamen" placeholder="ejemplo: ABC2" [(ngModel)]="codigoex" >
      <h2>titulo de  examen :</h2>
      <input maxlength="20" type="text" name="titulo" placeholder="ejemplo: Examen de matemáticas" [(ngModel)]="titulo" >
      <h2>Tipo de pregunta :</h2>
      <select class="tipoPregunta" id="type1" name="miselect" [(ngModel)]="seleccionado" (click)="mostrador()" >
        <option *ngFor="let estado of tipoPregunta" value={{estado.tipo}}>{{estado.tipo}}</option>
      </select>
      <h2 *ngIf="mostrar">cantidad de alternativas :</h2>
      <input type="number" *ngIf="mostrar" placeholder="ejemplo: 5" [(ngModel)]="alternativas" [disabled]="mostrar2">
      <button title="Asegurese de haber ingresado un título de examen" *ngIf="mostrarAg" (click)="agregar()" [disabled]="mostrar2" >Aceptar</button>
      <button *ngIf="mostrar3" (click)="guardarExamen()" > Guardar examen </button>
      <button *ngIf="mostrar3" routerLink="/docente"> Volver </button>

    </section>

    <section class="column2"  >
      <h2>Vista previa</h2>
      <h1>{{titulo}}</h1>
      <div *ngFor="let tipos of textopregunta" >
        <label >{{tipos.texto}} </label>
        <input *ngIf="tipos.p1!=null" type="radio" name="tipo" value="{{tipos.texto}}" name="ans-3" ><i>{{tipos.p1}}</i>
        <input *ngIf="tipos.p2!=null" type="radio" name="tipo" value="{{tipos.texto}}" name="ans-3" ><i>{{tipos.p2}}</i>
        <input *ngIf="tipos.p3!=null" type="radio" name="tipo" value="{{tipos.texto}}" name="ans-3" ><i>{{tipos.p3}}</i>
        <input *ngIf="tipos.p4!=null" type="radio" name="tipo" value="{{tipos.texto}}" name="ans-3" ><i>{{tipos.p4}}</i>
        <input *ngIf="tipos.p5!=null" type="radio" name="tipo" value="{{tipos.texto}}" name="ans-3" ><i>{{tipos.p5}}</i>
        <br>
      </div>
    </section>
    <section class="column3" *ngIf="mostrar2"  >
      <h3>Pregunta {{textopregunta.length}})</h3>
      <input type="text"[(ngModel)]="textos">
      <h3>alternativa a)</h3>
      <input type="text"[(ngModel)]="a">
      <h3>alternativa b)</h3>
      <input type="text"[(ngModel)]="b">
      <h3>alternativa c)</h3>
      <input type="text"[(ngModel)]="c">
      <h3>alternativa d)</h3>
      <input type="text" [(ngModel)]="d">
      <h3>alternativa e)</h3>
      <input type="text"[(ngModel)]="e">

      <button (click)="agregarPregunta()">Agregar </button>

      </section>


  </main>

</section>

