main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top:80px;

}

.editorExamen{

  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  font-weight: bold;

}
.editorExamen>label{
  justify-self: center;
  color: #4B79A1;
  color: -webkit-linear-gradient(to right, #283E51, #4B79A1);
  color: linear-gradient(to right, #283E51, #4B79A1);
  font-size: 40px;
}

.column1{
  display: grid;
  grid-template-columns:1fr 1fr ;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  color: white;
  height: 200px;
  border: solid 1px white;
  background: #4B79A1;
  background: -webkit-linear-gradient(to right, #283E51, #4B79A1);
  background: linear-gradient(to right, #283E51, #4B79A1);

}

.column2{
  display: grid;
  grid-template-columns: 1fr;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  overflow:scroll;

  height: 400px;
  border: solid 1px white;
  background: white;


}

.column1>h2{
  grid-column-start: 1;
  grid-column-end: 2;
  justify-self: end;
  font-size: 18px;
  padding-right: 5%;
  margin-top: 5px;
}
.column1>input{
  width: 90%;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: start;
  padding-left: 10px;
  margin-top: 5px;
  height: 30px;
  font-size: 14px;

}

.column1>select{
  height: 30px;
  width: 90%;
  justify-self: start;
}

.column1>button{
  grid-column-start: 2;
  grid-column-end: 3;
  width:40%;
  margin-top: 5px;
  height: 30px;
}

.column2>h2{
  justify-self: center;
  font-weight: bold;
  color:#4b79a1;
}
.column2>h1{
  justify-self: center;
}
.column2>label{
  margin-left: 2%;
}

.p1{
  display: grid;
  grid-template-columns:1fr 20fr ;
}
.p1>label{
  align-self: start;
}
.p1>input{
  justify-self: end;
  align-self: center;
  margin-right: 5px;
}
.column2>div{
  display: grid;
  grid-template-columns: 1fr 20fr;
}
.column2>div>input{
  justify-self: end;
  align-self: center;

}
.column2>div>i{
  justify-self: start;
  align-self: initial;
  padding-left: 1%;
}
.column2>div>label{
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: start;
  align-self: initial;
  padding-left: 1%;
}

.column3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  border: solid 1px white;
  background: #4B79A1;
  background: -webkit-linear-gradient(to right, #283E51, #4B79A1);
  background: linear-gradient(to right, #283E51, #4B79A1);

  color: white;

}
.column3>h3{
  justify-self: end;
  font-size: 18px;
  margin-top:5px;
  padding-right: 5%;

}
.column3>textarea{
  width: 90%;
  margin-top:5px;
}
.column3>input{
  width: 90%;
  margin-top:5px;
}
