<section class="VistaDocen">
<div class="columna1">
  <h1> Bienvenido docente {{nombre}} {{apellidopat}} </h1>

  <h3> Mis exámenes creados: </h3>

  <div *ngIf="NoExam"> <p>No tiene registrado ningún examen </p> </div>
  <table *ngIf="MostrarExamenes">
  <tr class="fila1">
    <th > Codigo </th>
    <th > Nombre del exámen </th>
    <th> Asistencia </th>
  </tr >
    <tr class="fila2" *ngFor="let examen of Examenes">
      <td> {{examen.cod_Examen}} </td>
      <td> {{examen.nombre}} </td>
      <td (click)="codigoexAsis = examen.cod_Examen; mostrarAsistencias()"   > <button> Ver asistencia</button> </td>
    </tr>
  </table>

  <h3> Crear un examen </h3>
  <button class="crear" routerLink="/editor"> Crear examen</button>
</div>
  <div class="Asistencias" *ngIf="MostrarasistenciaExamen">
    <h2>Asistencia del examen: {{codigoexAsis}}</h2>
    <table>
      <tr class="fila1">
        <th > Codigo </th>
        <th > Username </th>
        <th> Revisión </th>
      </tr>
      <tr class="fila2" *ngFor="let asistencia of Asistencia">
        <td> {{asistencia.cod_Examen}} </td>
        <td> {{asistencia.username_Al}} </td>
        <td (click)=" this.usernamealumno = asistencia.username_Al; this.codigoexamenrevis = asistencia.cod_Examen; RevisarAlumno() " ><button>Revision</button></td>
      </tr>
    </table>
  </div>

</section>




