
.VistaDocen{
  width: 90vw;
  margin: 0 auto;
  padding-top: 12vh;
  height: 60vh;
}

.columna1{
  width: 700px;
  display: inline-block;
  float: left;
}
.asistencia{
  width: 700px;
  display: inline-block;
  float: right;
}

.tabla{
  background-color: aliceblue;
  text-align: center;
  width: 700px;
  padding:0;
}
.fila1{
  width: 10vw;
  background-color:#1b87e6;
  border-bottom: solid 5px black;
  color: white;
}

th, td {
  border: solid 1px black;
}
tr:nth-child(even){
  background-color: white;
}

.crear{
  margin-bottom: 5vh;
}

.foot{
  position: fixed;
  bottom: 0;
}
