<section class="VistaAlum">

  <h1> Bienvenido {{nombre}} {{apellidopat}}!</h1>
<h3> Mis examenes: </h3>
  <div *ngIf="NoExam == true"> <p>No tiene registrado ningún examen </p> </div>
  <table *ngIf="NoExam == false">
    <tr class="fila1">
      <th > Codigo </th>
      <th > Nombre del examen </th>
      <th> Docente  </th>
      <th> Puntaje </th>
    </tr >
    <tr class="fila2" *ngFor="let asistencia of Asistencias" >
      <td> {{asistencia.cod_Examen}} </td>
      <td> {{nombex}} </td>
      <td> {{userEx}} </td>
      <td> {{asistencia.puntaje}}</td>
    </tr>
  </table>


<h3> Ingresar nuevo examen: </h3>
<input maxlength="4" type="text" class="intro" name="codigo" placeholder="Ingrese código de examen" [(ngModel)]="codigo">
  <input type="button" class="ok" (click)="entrarExamen()" value="Acceder">
  <p class="red" *ngIf="errlogC">No existe el codigo</p>
  <p class="red" *ngIf="rendirExamen == false">Usted ya resolvio el examen</p>
</section>
<footer>
<app-footer class="foot"></app-footer>
</footer>
