.VistaAlum{
  width: 90vw;
  margin: 0 auto;
  padding-top: 12vh;
}

.foot{
  bottom: 0;
  position: fixed;
}
table{
  background-color: aliceblue;
  text-align: center;
  width:30vw;
  padding:0;
}
.fila1{
  background-color:#1b87e6;
  border-bottom: solid 5px black;
  color: white;
}

th, td {
  border: solid 1px black;
}
tr:nth-child(even){
  background-color: white;
}
