.guia{
  width: 90vw;
  margin: 0 auto;
  padding-top: 12vh;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.alumno{
  width: 100vw;
  margin: 20px;
  height: 75vh;
  padding: 20px;
}

.docente{
  width: 100vw;
  margin: 20px;
  height: 75vh;
  padding: 20px;
}
h1{
  padding: 10px;
  background-color: #1565C0;
  color: white;
  text-align: center;
  text-align: center;
  border-radius: 20px;
  -webkit-box-shadow: 8px 8px 8px #909090;
}

