<section class="guia">

  <div class="docente">
    <h1>Guía rápida para docentes</h1>
    <br>
    <h4>1. Perfil de usuario</h4>
    <p>Para registrarse y crear su perfil de docente, vaya a www.creaexamen.com. Haga click en crear cuenta nueva y eliga profesor.  </p>
    <h4>2. Página de inicio</h4>
    <p>En la página de inicio podrá ingresar a su perfil de docente.</p>
    <h4>3. Creación de exámenes</h4>
    <p>Al ingresar a su perfil tendrá la opción de crear sus exámenes y una vista previa luego de crearlo.</p>
    <p>Además, podrá visualizar la cantidad de alumnos que rindieron el examen.</p>
  </div>

  <div class="alumno">
    <article>
      <h1>Guía rápida para estudiantes</h1>
      <br>
      <h4>1. Perfil de usuario</h4>
      <p>Para registrarse y crear su perfil de estudiante, vaya a www.creaexamen.com. Haga click en crear cuenta nueva y eliga alumno.  </p>
      <h4>2. Página de inicio</h4>
      <p>En la página de inicio podrá ingresar a su perfil de estudiante</p>
      <h4>3. Realizar exámenes</h4>
      <p>Luego de rendir sus examen, podrá visualizar sus respuestas seleccionadas.</p>
    </article>
  </div>
</section>
