.header > p{
    font-size: 50px;
    text-align: center;
    padding: 20px 0;
}

.header{

    width: 100%;
    max-width: 1800px;
    margin: auto;/*es para centrar en la horizontal*/
    font-size: 20px;
    line-height: 30px;
    text-align: center;/*para que centre los textos*/
}
.header >div{
    display: block;
    padding: 20px;

}

/*----------------------------------------------------grid--------------------------------------------------*/
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: minmax(200px,auto), minmax(900px,auto), minmax(200px,auto);*/
    grid-gap: 0px;
   /* max-width: 1200px;*/
}


.header >.navegador{
    /*margin-top: 70px;*/
    padding: 0%;
    width: 100%;
    background-position: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.header >.docente{
    background: rgba(245, 245, 245, 0.788);
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: 1px solid #1b87e6;

}
.header >.alumno{

    background: rgba(245, 245, 245, 0.788);
    grid-column-start: 2;
    grid-column-end: 3;
    border-left: 1px solid #1b87e6;

}
.header >.pie{
    grid-column-start: 1;
    grid-column-end: 3;

}
/*-------------------------------------------------------------------------------------docente alumno-------------------*/

.header > .docente {

    display: grid;
    grid-template-columns: 1fr ;

}
.header > .alumno {
    display: grid;
    grid-template-columns: 1fr;
}


 .txt{
    font-weight: bold;
    justify-self: start;/*para enviarlo a la izquierda*/

}


.header > .docente> .formDocente{

    display: grid;
    grid-template-columns: 1fr;
    width: 57%;
    justify-self: center;/*para centrar horizontal*/
    /*border: 2px solid black;*/
}

.header > .alumno> .formAlumno{
    display: grid;
    grid-template-columns: 1fr;
    width: 57%;
    justify-self: center;/*para centrar horizontal*/

}
.header > .alumno> .formAlumno > a {
    display: inline;
    justify-self: end;
    font-size: 15px;
}
.header > .docente> .formDocente > a {
    display: grid;
    justify-self: end;
    font-size: 15px;
}
.crear {
    margin-top: 8px;
}

input{
    float: right;
    width: 100%;
    border-radius: 20px;
    border-style: none;
    box-sizing: border-box;
    padding-left: 10px;
    padding-bottom: 5px;
    border: 1px solid black;


}

.header >.docente> p{
    font-size: 20px;
    font-weight: bold;
}
.header >.alumno> p{

    font-weight: bold;
}
.ok{
    color: white;
    margin-top: 20px;
    background: #1b87e6;
}
.ok:hover{
    background: white;
    background: #b92c2781;  /* fallback for old browsers */
       background: -webkit-linear-gradient(to right, #1565C0, #b92c2785);  /* Chrome 10-25, Safari 5.1-6 */
       background: linear-gradient(to right, #1565C0, #b92c2781);
}
.ok:active{
    background: white;
    color: black;
}
.header>.docente>.formDocente>input{
    outline: none;/*para que no tenga estilos luego del click*/
}
.header>.alumno>.formAlumno>input{
    outline: none;/*para que no tenga estilos luego del click*/
}
/*-----------------------------------------------------------------------------------------------*/

/*-------------------------------------------footer----------------------------------------------------*/

.header > .pie{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background: #b92c2781;  /* fallback for old browsers */
       background: -webkit-linear-gradient(to right, #1565C0, #b92c2785);  /* Chrome 10-25, Safari 5.1-6 */
       background: linear-gradient(to right, #1565C0, #b92c2781);
    color: white;

}
.pie> .a{
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 15px;
    width: 100%;
    padding-left: 3%;

}
.pie> .a > p{
    font-size: 20px;
    font-weight: bold;
}
.pie> .b{
    display: grid;
    grid-template-columns: 1fr 1fr;/*cantidad de columnas y filas*/

    grid-column-start: 2;/*posicion en footer*/
    grid-column-end: 3;
    font-size: 15px;


}
.pie>.b>.pp{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}
.pie>.b>img{
    margin-right: 3%;
    justify-self: end;
}
.pie > .b>p{
    /*border: 1px solid black; para dar borde*/
    justify-self: start;
}

.pie> .c{
    display: grid;
    grid-template-columns: 1fr 1fr;/*cantidad de columnas y filas*/
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 15px;
    width: 100%;

}
.pie>.c>.pp{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}
.pie>.c>img{
    margin-right: 5%;
    justify-self: end;
}
.pie > .c>p{
    /*border: 1px solid black; para dar borde*/
    justify-self: start;
}

.pie> .d{
    justify-self: center;
    border-top: 1px solid white;
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 15px;
    width: 95%;


}
.pie>.d>p{

    padding-top: 8px;
    padding-left: 2%;
    float: left;
    /*justify-self: center;*/
}

.pie>.a>label{
    font-size: 12px;
}
.red{
  color: red;
  margin-bottom: 1vh;
}
