<div class="header">
  <div class="navegador">
  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/lapiz.jpg" class="d-block w-100" alt="..." width="100%" height="500px">
        <div  class="carousel-caption d-none d-md-block">
          <h5>Historial de resultados</h5>
          <p>Manejo de tipos de preguntas, autopublicación de examen y más.</p>
        </div>
      </div>
      <div class="carousel-item ">
        <img src="../assets/img/book.jpg" class="d-block w-100" alt="..." width="100%" height="500px">
        <div class="carousel-caption d-none d-md-block">
          <h5>Facilidad de uso</h5>
          <p>¿Eres un profesor y estás buscando una herramienta de exámenes online para evaluar a tus estudiantes?
          </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/img/tis.jpg" class="d-block w-100" alt="..." width="100%" height="500px">
        <div class="carousel-caption d-none d-md-block">
          <h5>Calificación automática</h5>
          <p>Has llegado al lugar indicado, nuestra web te ayudará a automatizar el proceso de crear los exámenes
            para tus estudiantes.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>

  <div class="docente">
    <p>Soy docente</p>
    <form class="formDocente" action="" >
      <h3 class="txt">Usuario :</h3>
      <input type="text" name="usuarioD" placeholder="Ingrese usuario" [(ngModel)]="usernameD">
      <h3 class="txt">Contraseña :</h3>
      <input type="password" name="contraseniaD" placeholder="******************" [(ngModel)]="contraseniaD">
      <input type="button" class="ok" (click)="loginDocente()" value="Acceder">
      <a href="#" class="crear">¿olvidaste tu contraseña?</a>
      <a routerLink="/registro">crear cuenta nueva, aquí.</a>
      <p class="red" *ngIf="errlogD">Datos incorrectos</p>
    </form>
  </div>
  <div class="alumno">
    <p>Soy alumno</p>
    <form class="formAlumno" action="">
      <h3 class="txt">Usuario :</h3>
      <input type="text" name="usuarioA" placeholder="Ingrese usuario" [(ngModel)]="usernameA">
      <h3 class="txt">Contraseña :</h3>
      <input type="password" name="contraseniaD" placeholder="******************" [(ngModel)]="contraseniaA">
      <input type="button" (click)="loginAlumno()" class="ok" value="Acceder">
      <a href="#" class="crear">¿olvidaste tu contraseña?</a>
      <a routerLink="/registro">crear cuenta nueva, aquí.</a>
      <p class="red" *ngIf="errlogA">Datos incorrectos</p>
    </form>
  </div>






  <footer class="pie">
    <div class="a" align="left">
      <p align="center">Más información de la web</p>
      <label>Con nosotros puedes crear o preparar exámenes, para que tus estudiantes los resuelvan y obtengan su calificación
         automáticamente de manera instantánea.
        ¡Regístrate hoy!, Prueba nuestro software de herramienta de examen gratuito para que puedas ver si se adapta a tus necesidades.
      </label>
    </div>
    <div class="b">
      <p class="pp">Redes sociales </p>
      <img src="../../assets/img/icon/fb.ico" alt="" class="ba" width="40px" height="40px">
      <p class="pa">Síguenos en facebook</p>
      <img src="../../assets/img/icon/twitter.png" alt=""  class="bb" width="40px" height="40px">
      <p class="pb">Síguenos en Twitter</p>
      <img src="../../assets/img/icon/ws.png" alt="" class="bc" width="40px" height="40px">
      <p class="pc">contáctenos</p>
    </div>
    <div class="c">
      <p class="pp">información de contactos</p>
      <img src="../../assets/img/icon/home.png" alt="" class="ba" width="40px" height="40px">
      <p class="pa">Lima-Perú</p>
      <img src="../../assets/img/icon/phone.png" alt=""  class="bb" width="40px" height="40px">
      <p class="pb">+51 999999999</p>
      <img src="../../assets/img/icon/msj.png" alt="" class="bc" width="40px" height="40px">
      <p class="pc">examn@gmail.com</p>
    </div>
    <div class="d">
      <p> © 2020 todos los derechos reservados | creaexamen</p>
    </div>

  </footer>
</div>


