.navegador{
    
    position: fixed;
    z-index: 100;
    max-width: 1200;
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%; 
}

.navegador{
    background: #b92c2781;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1565C0, #b92c2785);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1565C0, #b92c2781); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    /*background: #1b87e6;*/
    height: 80px;/*medida importante para el menubar*/
}

.navegador >ul > li{
    margin-top: 12px;
    display: inline-block;/*los li estaran en linea*/
    font-size: 20px;    
    
}
.navegador >ul > li > a{
    text-decoration: none;    
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 15px;
    text-transform: uppercase;/*se transforma en mayúscula todo*/    
    font-weight: bold;/*grosor de letra*/
    
}

.navegador >ul > li > a:hover{/*mouse por encima del a*/
    background: white;
    transition: 1.0s;
    color:#b92c2781 ;
    text-decoration: none;
}
.navegador >ul > li > a:active{
    transition: 0.2s;
    background: #b92c2781;
    color:white ;
}

.navegador > ul{
    /* background: grey;
    border: 2px solid;*/
    justify-self: end;
    align-self: center;
    /*padding-right:10% ;*/
}

.navegador > .logo{
    /*background: grey;
    border: 2px solid;*/
    color: aliceblue;
    justify-self: start;/*centrar horizontal*/
    align-self: center;/*centrar vertical*/
    padding-left:10%;
    font-size: 35px;
    font-weight: bold; /* poner bold o poner 800 es grosor de la letra*/
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;/*lo desactiva, lo elimina de la pag*/
}

#check{
    display: none;/*lo desactiva, lo elimina de la pag*/
}
/*-------------------------------------------------------------------------------------maxima medida--------------------*/
@media(max-width:933px){
    .navegador{
        grid-template-columns: 3fr 1fr;
    }
    .checkbtn{
        display:block; /*para ocultar el inicio, contactenos... y mostrar el icono */
        justify-self: end;
        align-self: center;        
        grid-column-start: 2;
        grid-column-end: 3;
        padding-right: 7%;
    }
    .navegador > .logo{
        grid-column-start: 1;
        grid-column-end: 2; 
        grid-row-start: 1;
        grid-row-end: 2;        
    }
    ul{
        
        position: fixed;/*necesario para ocultar*/
        left: -100%;/*una vez que es fixed, se envia ala lado izquierdo sin generar espacio*/
        width: 100%;
        height: 100vh;/*cubre el 100% de toda la pantalla*/        
        top:80px;    /*margen top de la altura del height del .navegador*/   
        text-align: center;
        transition: all 1s;
        display: grid;
        grid-template-columns: 1fr;
        padding-left:0px;
        grid-template-rows: 80px 80px 80px 80px;
        
        
    } 
    .iniciomenu{
        border-top: 1px solid white;
    }
    .navegador >ul > li{
        width: 100%;
        /*background: linear-gradient(45deg, #ffffff93, #1b87e6a4);*/              


       /* background: #fdc63081;   fallback for old browsers */
       background: #b92c2781;  /* fallback for old browsers */
       background: -webkit-linear-gradient(to right, #1565C0, #b92c2785);  /* Chrome 10-25, Safari 5.1-6 */
       background: linear-gradient(to right, #1565C0, #b92c2781);
        margin-top: 0;
        display: inline-block;/*los li estaran en linea*/
        font-size: 20px;
        justify-self: center;
        padding-top: 15px;
        border-bottom: 1px solid white;
    }   

    .navegador >ul > li:active{
        background: white;
        
    }
    #check:checked ~ul{
        left:0;
    }

    .navegador >ul > li > a{
    text-decoration: none;    
    color: white;
    font-size: 17px;
    border-radius: 0%;
    padding: 7px 13px;    
    text-transform: uppercase;/*se transforma en mayúscula todo*/    
    font-weight: bold;/*grosor de letra*/
    
}

.navegador >ul > li > a:hover{/*mouse por encima del a*/
    transition: none;
    background:none;    
    color:#1565C0 ;
    text-decoration: none;
}     

.navegador >ul > li > a:active{
    transition: none;
    background:none;
    color:none ;
}
}
/*-------------------------------------------------------------------------------------maxima medida--------------------*/
