<nav class="navegador">
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo">CreaExamen</label>
    <ul class="iniciomenu">
      <li><a routerLink="/" >Inicio</a></li>
      <li><a routerLink="guia">Guia Rápida</a></li>
      <li><a href="#">Contáctenos</a></li>
      <li><a routerLink="/ayuda">ayuda</a></li>
    </ul>
  </nav>
