
<main>
  <section class="Register">

    <h2>Cree una nueva cuenta</h2>
    <div class="CrearProfesor">
      <h3>
        Como profesor
      </h3>
      <h4 class="txt">Nombre</h4>
      <input type="text" class="intro" name="nombreD" placeholder="Ingrese su nombre" [(ngModel)]="nombreD">
      <h4 class="txt">Apellidos</h4>
      <input type="text" class="intro" name="apellidoDpat" placeholder="Ingrese su apellido paterno" [(ngModel)]="apellidoDpat">
      <input type="text" class="intro" name="apellidoDmat" placeholder="Ingrese su apellido materno" [(ngModel)]="apellidoDmat">
      <h4 class="txt">Nombre de usuario</h4>
      <input maxlength="10" type="text" class="intro" name="usernameD" placeholder="Ingrese nombre de usuario (Máx 10 caract.)" [(ngModel)]="usernameD">
      <p class= "errReg" *ngIf="errorRegD" >{{Registroerr}}</p>
      <h4 class="txt">Contraseña</h4>
      <input type="password" class="intro introfin"  name="contraseniaD" placeholder="******************" [(ngModel)]="contraseniaD">
      <div>
        <button class="botonreg" (click)=RegistrarDocente() > Registrarse </button>
      </div>
      <div class="RegExt" *ngIf="errorRegA == false || errorRegD ==false" >
        {{Exito}}
      </div>
      <button class="volv" routerLink="/" *ngIf="errorRegA == false || errorRegD == false">Volver</button>
    </div>
    <div class="CrearAlumno">
      <h3>
        Como alumno
      </h3>
      <h4 class="txt">Nombre</h4>
      <input type="text" class="intro" name="nombre" placeholder="Ingrese su nombre" [(ngModel)]="nombreA">
      <h4 class="txt">Apellidos</h4>
      <input type="text" class="intro" name="apellidoApat" placeholder="Ingrese su apellido paterno" [(ngModel)]="apellidoApat">
      <input type="text" class="intro" name="apellidoAmat" placeholder="Ingrese su apellido materno" [(ngModel)]="apellidoAmat">
      <h4 class="txt">Nombre de usuario </h4>
      <input maxlength="10" type="text" class="intro" name="username" placeholder="Ingrese nombre de usuario (Máx 10 caract.)" [(ngModel)]="usernameA">
      <p class= "errReg" *ngIf="errorRegA" >{{Registroerr}}</p>
      <h4 class="txt">Contraseña</h4>
      <input type="password" class="intro introfin" name="contrasenia" placeholder="******************" [(ngModel)]="contraseniaA">
      <div>
        <button class="botonreg" (click)="RegistrarAlumno()"> Registrarse </button>
      </div>

    </div>

  </section>

  <app-footer class="foot"></app-footer>
</main>
