.Register{
  padding-top: 15vh;
  padding-left: 10vw ;
}
.h2{
  width: 500px;
}
.CrearAlumno{
  margin-top: 50px;
  float: left;
  margin-left: 20vw;
  width: 20vw;
}
.CrearProfesor{
  margin-top: 50px;
  width: 20vw;
  float: left;
}

.intro{
  width: 20vw;
  margin-bottom: 30px;
  height: 2.5vw;
}

.introfin{
  margin-bottom: 20px;
}

.botonreg{
  margin-bottom: 40px;
}
.botonreg{
  width: 7vw;
  background: #1565C0 ;
  color: aliceblue;

}

h3{
  background: #1565C0;
  width: 20vw;
  height: 5vh;
  margin-bottom: 20px;
  text-align: center;
  color: aliceblue;
  border-radius: 1.5rem;
  text-decoration: black;
}

.errReg{
  color: red;
}

.RegExt{
  width: 20vw;
  height: 8vh;
  color: white;
  background: green;
  float:left;
  margin-left: 20vw;
  margin-bottom: 2vw;
  font-size: 35px;
  text-align: center;
  border-radius: 1.5rem;
  box-shadow: 3px 3px 3px black;
  text-shadow: 1.2px 1.2px 1.2px  black;
}

.volv{
  margin-left: 23vw;
  margin-bottom: 4vw;
  background: #1565C0 ;
  color: aliceblue;
}
